<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{userId},#{password},#{userName},#{gender},#{age},#{email},#{phone},#{address},
		#{hobby, typeHandler = strArr},
		default
		)
	</insert>
	
	<resultMap id="memberMap" type="member">
		<result column="hobby" property="hobby" typeHandler="strArr"/>
	</resultMap>
	
	<select id="selectOne" parameterType="member" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE USERID = #{userId}
	</select>
</mapper>
